[submodule "extern/recomp-ui"]
	path = extern/recomp-ui
	url = https://github.com/Lordingard/recomp-ui.git
	branch = sacred-stones-launcher
[submodule "extern/gbarecomp"]
	path = extern/gbarecomp
	url = https://github.com/Lordingard/gbarecomp.git
	branch = sacred-stones-runtime
